Repository PolyhedraZK/proof-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["turbo run lint --filter", "prettier --write", "eslint --fix"],
  "*.{json,md,yaml}": ["prettier --ignore-unknown --write"]
}

Xor problem description fix (#84)
  problems/AXorB/problem.md
Due: prettier --ignore-unknown --write

fix plonky3 parallelization (#75)
  problems/poseidon2_hash_m31/plonky3/Cargo.lock
  problems/poseidon2_hash_m31/plonky3/Cargo.toml
  problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh
  problems/poseidon2_hash_m31/plonky3/src/prover.rs
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
Due: none

Auto-update: Changes in spj_output (#77)
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

add stwo xor [script:problems/AXorB/stwo/run.sh] (#82)
  problems/AXorB/stwo/Cargo.toml
  problems/AXorB/stwo/run.sh
  problems/AXorB/stwo/rust-toolchain.toml
  problems/AXorB/stwo/src/constraints.rs
  problems/AXorB/stwo/src/gen.rs
  problems/AXorB/stwo/src/lib.rs
  problems/AXorB/stwo/src/main.rs
Due: none

Auto-update: Changes in spj_output (#83)
  spj_output/AXorB/stwo.json
Due: prettier --ignore-unknown --write

fix bug in param [script:problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/stwo/src/lib.rs
Due: none

add status page, add docs
  .github/workflows/auto_benchmark.yml
  apps/web/src/App.tsx
  apps/web/src/layout/NavBar.tsx
  apps/web/src/pages/HowToInteractWithJudge/index.tsx
  apps/web/src/pages/Status/index.style.ts
  apps/web/src/pages/Status/index.tsx
  apps/web/src/svgr.d.ts
  docs/how_to_interact_with_SPJ.md
  docs/how_to_interact_with_SPJ_Rust.md
  package.json
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

modify docs
  docs/how_to_interact_with_SPJ.md
Due: prettier --ignore-unknown --write

modify CI logic
  .github/workflows/auto_benchmark.yml
Due: none

fix bug [script:problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

edits
  README.md
Due: prettier --ignore-unknown --write

add status page, add docs (#87)
  .github/workflows/auto_benchmark.yml
  apps/web/src/App.tsx
  apps/web/src/layout/NavBar.tsx
  apps/web/src/pages/HowToInteractWithJudge/index.tsx
  apps/web/src/pages/Status/index.style.ts
  apps/web/src/pages/Status/index.tsx
  apps/web/src/svgr.d.ts
  docs/how_to_interact_with_SPJ.md
  docs/how_to_interact_with_SPJ_Rust.md
  package.json
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

edits (#89)
  README.md
Due: prettier --ignore-unknown --write

stwo poseidon parallelization (#85)
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/Cargo.toml
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/src/lib.rs
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
Due: none

Auto-update: Changes in spj_output (#88)
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

update security
  .github/workflows/auto_benchmark.yml
  .gitignore
  SPJ/spj_template.go
  SPJ/types.go
  docs/how_to_contribute.md
Due: prettier --ignore-unknown --write

update security
  .github/workflows/auto_benchmark.yml
  .gitignore
Due: none

update security
  .github/workflows/auto_benchmark.yml
Due: none

Tx/doc change status page (#90)
  .github/workflows/auto_benchmark.yml
  .gitignore
  SPJ/spj_template.go
  SPJ/types.go
  docs/how_to_contribute.md
Due: prettier --ignore-unknown --write

Tx/doc change status page (#91)
  .github/workflows/auto_benchmark.yml
Due: none

[script:problems/keccak256_hash/expectedProver/run.sh] SUBMISSION_READY
  problems/keccak256_hash/expectedProver/prover.go
Due: none

[script:problems/keccak256_hash/expectedProver/run.sh] SUBMISSION_READY
  .github/workflows/auto_benchmark.yml
Due: none

Auto-submission: Branch: tx/test_submission
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

Delete spj_output/keccak256_hash/GNARK KECCAK-256.json
  spj_output/keccak256_hash/GNARK KECCAK-256.json
Due: prettier --ignore-unknown --write

Auto-submission: Problem ID: , Branch: [tx/test_submission (2024-09-22 13:24:06 UTC)] (#92)
  .github/workflows/auto_benchmark.yml
  problems/keccak256_hash/expectedProver/prover.go
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

[script:problems/keccak256_hash/expectedProver/run.sh] SUBMISSION_READY
  .github/workflows/auto_benchmark.yml
  apps/web/src/pages/Status/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

[script:problems/keccak256_hash/expectedProver/run.sh] SUBMISSION_READY
  apps/web/src/pages/Status/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

Auto-submission: Problem ID: 2, PROVER: GNARK KECCAK-256, Branch: [tx/test_submission (2024-09-22 13:41:39 UTC)] (#93)
  .github/workflows/auto_benchmark.yml
  apps/web/src/pages/Status/index.tsx
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

[script:problems/keccak256_hash/expectedProver/run.sh] SUBMISSION_READY
  README.md
Due: prettier --ignore-unknown --write

adjust prover and workflow
  .github/workflows/auto_benchmark.yml
  apps/web/public/supportedProvers.json
  apps/web/scripts/syncProvers.js
  docs/how_to_contribute.md
Due: prettier --ignore-unknown --write

refactor main page
  apps/web/src/App.tsx
  apps/web/src/layout/NavBar.tsx
  apps/web/src/layout/header.style.ts
  apps/web/src/pages/HowToSubmitNewProblem/index.tsx
  apps/web/src/pages/HowToSubmitNewProver/index.tsx
  docs/how_to_contribute.md
  docs/how_to_submit_new_problem.md
  docs/how_to_submit_new_prover.md
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write
