Repository PolyhedraZK/proof-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor main page
  apps/web/src/layout/Footer/index.tsx
  apps/web/src/layout/NavBar.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

refactor main page
  apps/web/src/layout/NavBar.tsx
  apps/web/src/pages/Home/index.tsx
  apps/web/src/pages/Problems/ProblemsListItem/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

Create LICENSE
  LICENSE
Due: none

test
  .github/workflows/auto_benchmark.yml
Due: none

change submission logic
  .github/workflows/auto_benchmark.yml
Due: none

Auto-submission: Branch: auto-submission-f1aeb45e3eb5c0bf3b8f8c507a0552f172241038
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

change submission logic
  problems/keccak256_hash/expectedProver/prover.go
Due: none

Auto-submission: Branch: auto-submission-d2b335475ce7e23a4d41e87593f1c746793bb7e8
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

Auto-submission: Branch: arena-niconiconi
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

attack workflow
  .github/workflows/auto_benchmark.yml
Due: none

Update auto_benchmark.yml
  .github/workflows/auto_benchmark.yml
Due: none

change submission logic
  .github/workflows/auto_benchmark.yml
  apps/web/src/pages/Status/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

attack test
  .github/workflows/auto_benchmark.yml
Due: none

chatbot
  .env
  SPJ/IPCUtils/ipc.go
  SPJ/doc.md
  apps/web/src/components/ChatInterface.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/Home/index.tsx
  apps/web/src/services/llm/openaiClient.ts
  apps/web/src/svgr.d.ts
  docs/SPJ_documentation.md
  package.json
  pnpm-lock.yaml
  problems/AXorB/problem.md
  problems/keccak256_hash/problem.md
  problems/poseidon2_hash_m31/problem.md
  problems/sha256_hash/problem.md
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

chatbot
  apps/web/src/components/ChatInterface.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

change assistant
  apps/web/src/services/llm/openaiClient.ts
Due: turbo run lint --filter, prettier --write, eslint --fix

adder_moto
  problems/sha256_hash/ecc-rust/Cargo.lock
  problems/sha256_hash/ecc-rust/Cargo.toml
  problems/sha256_hash/ecc-rust/compile.sh
  problems/sha256_hash/ecc-rust/run.sh
  problems/sha256_hash/ecc-rust/rust-toolchain
  problems/sha256_hash/ecc-rust/src/lib.rs
  problems/sha256_hash/ecc-rust/src/main.rs
  problems/sha256_hash/ecc-rust/src/spj.rs
Due: none

change adder to 4bitbk
  problems/sha256_hash/ecc-rust/Cargo.toml
  problems/sha256_hash/ecc-rust/src/lib.rs
Due: none

add spj
  problems/sha256_hash/SPJ/expander-sha256.json
  problems/sha256_hash/SPJ/go.mod
  problems/sha256_hash/SPJ/main.go
Due: prettier --ignore-unknown --write

init sha256
  problems/sha256_hash/ecc-rust/src/lib.rs
  problems/sha256_hash/ecc-rust/src/main.rs
Due: none

Path conditions:
  turbo run lint --filter: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  prettier --ignore-unknown --write: any of: *.{json,md,yaml}
