Repository PolyhedraZK/proof-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

fix: start bug
  apps/web/public/supportedProvers.json
  apps/web/src/pages/HowToContribute/index.tsx
  apps/web/src/pages/MachineSpec/index.tsx
  apps/web/src/pages/ProblemsDetail/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

feat: add husky for gitleaks
  .gitignore
  .gitleaks.toml
  .husky/pre-commit
Due: none

feat: main to dev fix bug and ui change
  apps/web/src/App.tsx
  apps/web/src/components/MdDescription/index.tsx
  apps/web/src/global.css
  apps/web/src/layout/NavBar.tsx
  apps/web/src/layout/header.style.ts
  apps/web/src/pages/Home/index.tsx
  apps/web/src/pages/HowToContribute/index.tsx
  apps/web/src/pages/MachineSpec/index.tsx
  apps/web/src/pages/Problems/index.tsx
  apps/web/src/pages/SupportedProvers/index.style.ts
  apps/web/src/pages/SupportedProvers/index.tsx
  docs/machine_specification.md
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

feat: header UI change
  apps/web/src/layout/Footer/index.style.ts
  apps/web/src/layout/Footer/index.tsx
  apps/web/src/layout/Header.tsx
  apps/web/src/layout/NavBar.tsx
  apps/web/src/layout/header.style.ts
  apps/web/src/pages/Home/index.tsx
  apps/web/src/pages/HowToContribute/index.tsx
  apps/web/src/pages/MachineSpec/index.tsx
  apps/web/src/pages/Problems/index.style.ts
  apps/web/src/pages/Problems/index.tsx
  apps/web/src/pages/SupportedProvers/index.style.ts
  apps/web/vite.config.ts
Due: turbo run lint --filter, prettier --write, eslint --fix

Feat/mainfix (#28)
  apps/web/src/App.tsx
  apps/web/src/components/MdDescription/index.tsx
  apps/web/src/global.css
  apps/web/src/layout/Footer/index.style.ts
  apps/web/src/layout/Footer/index.tsx
  apps/web/src/layout/Header.tsx
  apps/web/src/layout/NavBar.tsx
  apps/web/src/layout/header.style.ts
  apps/web/src/pages/Home/index.tsx
  apps/web/src/pages/HowToContribute/index.tsx
  apps/web/src/pages/MachineSpec/index.tsx
  apps/web/src/pages/Problems/index.style.ts
  apps/web/src/pages/Problems/index.tsx
  apps/web/src/pages/SupportedProvers/index.style.ts
  apps/web/src/pages/SupportedProvers/index.tsx
  apps/web/vite.config.ts
  docs/machine_specification.md
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

feat: add router loading
  apps/web/src/App.tsx
  apps/web/src/components/base/Loading.tsx
  apps/web/src/layout/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

fix: problems detail route fix
  apps/web/src/App.tsx
  apps/web/src/pages/Problems/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

feat: optimize navigation
  apps/web/src/layout/header.style.ts
Due: turbo run lint --filter, prettier --write, eslint --fix

feat: optimize markdown
  apps/web/package.json
  apps/web/src/components/MdDescription/index.style.ts
  apps/web/src/components/MdDescription/index.tsx
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

SPJ template
  SPJ/IPCUtils/go.mod
  SPJ/IPCUtils/ipc.go
  SPJ/cgroup_manager.go
  SPJ/go.mod
  SPJ/logger.go
  SPJ/pipe_manager.go
  SPJ/resource_monitor.go
  SPJ/result_collector.go
  SPJ/spj_template.go
  SPJ/timer.go
  problems/IPCUtils/go.mod
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/SPJ/go.mod
  problems/keccak256_hash/SPJ/main.go
  problems/keccak256_hash/spj/1-GNARK KECCAK-256.json
  problems/keccak256_hash/spj/benchmark.go
  problems/keccak256_hash/spj/go.mod
  problems/keccak256_hash/spj/main.go
  problems/keccak256_hash/spj/monitor.go
  problems/keccak256_hash/spj/prover.go
  problems/keccak256_hash/spj/types.go
  problems/keccak256_hash/spj/utils.go
  problems/keccak256_hash/spj_bak.zip
Due: prettier --ignore-unknown --write

fix: check machine md
  docs/machine_specification.md
Due: prettier --ignore-unknown --write

template SPJ
  SPJ/cgroup_manager.go
  SPJ/pipe_manager.go
  SPJ/result_collector.go
  SPJ/spj_template.go
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/expectedProver/go.mod
  problems/keccak256_hash/expectedProver/prover.go
Due: none

simplify
  problems/keccak256_hash/SPJ/main.go
Due: none

simplify
  SPJ/logger.go
  SPJ/pipe_manager.go
  SPJ/resource_monitor.go
  SPJ/result_collector.go
  SPJ/spj_template.go
  SPJ/timer.go
  SPJ/types.go
Due: none

correctly handle prover/verifier crash
  SPJ/spj_template.go
  problems/keccak256_hash/maliciousProver/go.mod
  problems/keccak256_hash/maliciousProver/prover.go
Due: none

simplify spj
  .gitignore
  SPJ/result_collector.go
  SPJ/spj_template.go
  SPJ/types.go
  docs/how_to_interact_with_SPJ.md
  problems/AXorB/SPJ/go.mod
  problems/AXorB/SPJ/main.go
  problems/AXorB/expectedProver/go.mod
  problems/AXorB/expectedProver/prover.go
  problems/AXorB/problem.md
  problems/keccak256_hash/expectedProver/prover.go
  problems/keccak256_hash/result.json
  problems/keccak256_hash/spj_bak.zip
  problems/poseidon2_hash_m31/problem.md
  problems/sha256_hash/problem.md
  spj_output/AXorB/1-GNARK_A_Xor_B.json
  spj_output/keccak256_hash/1-GNARK KECCAK-256.json
Due: prettier --ignore-unknown --write

simplify spj
  spj_output/AXorB/1-GNARK_A_Xor_B.json
Due: prettier --ignore-unknown --write

update data and correct mem
  SPJ/resource_monitor.go
  SPJ/result_collector.go
  SPJ/spj_template.go
  problems/keccak256_hash/result.json
  spj_output/AXorB/1-GNARK_A_Xor_B.json
  spj_output/keccak256_hash/1-GNARK KECCAK-256.json
Due: prettier --ignore-unknown --write

update data and correct mem
  spj_output/AXorB/1-GNARK_A_Xor_B.json
  spj_output/keccak256_hash/1-GNARK KECCAK-256.json
Due: prettier --ignore-unknown --write

update data and correct mem
  SPJ/spj_template.go
  SPJ/types.go
  problems/AXorB/SPJ/main.go
  problems/keccak256_hash/SPJ/main.go
Due: none

update prover data
  apps/web/public/supportedProvers.json
Due: prettier --ignore-unknown --write

Feat/spj template (#32)
  .gitignore
  SPJ/IPCUtils/go.mod
  SPJ/IPCUtils/ipc.go
  SPJ/go.mod
  SPJ/logger.go
  SPJ/pipe_manager.go
  SPJ/resource_monitor.go
  SPJ/result_collector.go
  SPJ/spj_template.go
  SPJ/timer.go
  SPJ/types.go
  apps/web/public/supportedProvers.json
  docs/how_to_interact_with_SPJ.md
  problems/AXorB/SPJ/go.mod
  problems/AXorB/SPJ/main.go
  problems/AXorB/expectedProver/go.mod
  problems/AXorB/expectedProver/prover.go
  problems/AXorB/problem.md
  problems/IPCUtils/go.mod
  problems/keccak256_hash/SPJ/go.mod
  problems/keccak256_hash/SPJ/main.go
  problems/keccak256_hash/expectedProver/prover.go
  problems/keccak256_hash/maliciousProver/go.mod
  problems/keccak256_hash/spj/1-GNARK KECCAK-256.json
  problems/keccak256_hash/spj/benchmark.go
  problems/keccak256_hash/spj/go.mod
  problems/keccak256_hash/spj/main.go
  problems/keccak256_hash/spj/monitor.go
  problems/keccak256_hash/spj/prover.go
  problems/keccak256_hash/spj/types.go
  problems/keccak256_hash/spj/utils.go
  problems/poseidon2_hash_m31/problem.md
  problems/sha256_hash/problem.md
  spj_output/AXorB/1-GNARK_A_Xor_B.json
  spj_output/keccak/spj/1-GNARK KECCAK-256.json
  spj_output/keccak256_hash/1-GNARK KECCAK-256.json
Due: prettier --ignore-unknown --write

add prover waitlist
  README.md
  problems/AXorB/SPJ/SPJ
  problems/keccak256_hash/SPJ/SPJ
Due: prettier --ignore-unknown --write

feat: add mathematical formula handle
  apps/web/package.json
  apps/web/src/components/MdDescription/index.tsx
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

Fix/merge (#35)
  apps/web/package.json
  apps/web/src/components/MdDescription/index.tsx
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

add more prints
  SPJ/spj_template.go
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/SPJ/a.json
  problems/keccak256_hash/SPJ/main.go
Due: prettier --ignore-unknown --write

minor
  SPJ/spj_template.go
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/SPJ/a.json
Due: prettier --ignore-unknown --write

new data and fix SPJ
  README.md
  SPJ/spj_template.go
  problems/keccak256_hash/SPJ/SPJ
  spj_output/keccak256_hash/2-Halo2-Keccak-256.json
Due: prettier --ignore-unknown --write

auto runner
  .github/workflows/auto_benchmark.yml
Due: none

testing script
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/expectedProver/run.sh
Due: none

gnark submission [script:problems/keccak256_hash/expectedProver/run.sh]
  problems/keccak256_hash/expectedProver/run.sh
Due: none

gnark submission [script:problems/keccak256_hash/expectedProver/run.sh]
  .github/workflows/auto_benchmark.yml
Due: none

Path conditions:
  turbo run lint --filter: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  prettier --ignore-unknown --write: any of: *.{json,md,yaml}
