Repository PolyhedraZK/proof-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

stwo poseidon [script:problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh]
  problems/keccak256_hash/halo2/Cargo.lock
  problems/poseidon2_hash_m31/SPJ/go.mod
  problems/poseidon2_hash_m31/SPJ/main.go
  problems/poseidon2_hash_m31/plonky3/Cargo.lock
  problems/poseidon2_hash_m31/plonky3/Cargo.toml
  problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh
  problems/poseidon2_hash_m31/plonky3/src/lib.rs
  problems/poseidon2_hash_m31/plonky3/src/prover.rs
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/Cargo.toml
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/rust-toolchain
  problems/poseidon2_hash_m31/stwo/src/lib.rs
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

Auto-update: Changes in spj_output after script execution
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

stwo poseidon [script:problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/Cargo.toml
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/rust-toolchain
  problems/poseidon2_hash_m31/stwo/src/lib.rs
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

feat: add HowToInteractWithJudge
  apps/web/public/supportedProvers.json
  apps/web/src/App.tsx
  apps/web/src/global.css
  apps/web/src/layout/NavBar.tsx
  apps/web/src/layout/header.style.ts
  apps/web/src/pages/HowToContribute/index.tsx
  apps/web/src/pages/HowToInteractWithJudge/index.tsx
  apps/web/src/pages/HowToInteractWithJudge/styles.ts
  apps/web/src/pages/MachineSpec/index.tsx
  apps/web/src/pages/Problems/index.style.ts
  apps/web/src/pages/SupportedProvers/index.style.ts
  apps/web/src/pages/SupportedProvers/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

feat: delete how_to_interact_with_SPJ h1
  docs/how_to_interact_with_SPJ.md
Due: prettier --ignore-unknown --write

Update Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

Zz/stwo poseidon (#67)
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/Cargo.toml
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/rust-toolchain
  problems/poseidon2_hash_m31/stwo/src/lib.rs
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

Auto-update: Changes in spj_output (#71)
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write

add formatNumber
  apps/web/package.json
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.tsx
  apps/web/src/pages/ProblemsDetail/components/SubmissionsTable/index.tsx
  apps/web/src/utils/formatNumber.ts
  apps/web/src/utils/superScript.ts
  apps/web/src/utils/transferToNumber.ts
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

fix
  apps/web/src/utils/formatNumber.ts
Due: turbo run lint --filter, prettier --write, eslint --fix

optimize UI
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.tsx
  apps/web/src/pages/ProblemsDetail/components/SubmissionsTable/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

bugfix, modify run arg [script:problems/keccak256_hash/expander-keccak/run.sh]
  problems/keccak256_hash/expander-keccak/run.sh
  problems/keccak256_hash/expander-keccak/src/main.rs
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/keccak256_hash/expander-keccak.json
Due: prettier --ignore-unknown --write

remove verifier multithreading [script:problems/keccak256_hash/expander-keccak/run.sh]
  problems/keccak256_hash/expander-keccak/src/main.rs
Due: none

fix plonky3 par [script:problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/plonky3/Cargo.lock
  problems/poseidon2_hash_m31/plonky3/Cargo.toml
  problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh
  problems/poseidon2_hash_m31/plonky3/src/prover.rs
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

some performance improvement
  .gitignore
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/expander-keccak/Cargo.toml
  problems/keccak256_hash/expander-keccak/run.sh
  problems/keccak256_hash/expander-keccak/src/lib.rs
  problems/keccak256_hash/expander-keccak/src/main.rs
Due: none

fix issue with verification time [script:problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
Due: none

update cargo
  problems/keccak256_hash/expander-keccak/src/main.rs
  spj_output/keccak256_hash/expander-keccak.json
Due: prettier --ignore-unknown --write

cargo lock
  .gitignore
  problems/keccak256_hash/expander-keccak/Cargo.lock
Due: none

expander-keccak (#64)
  .gitignore
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/expander-keccak/Cargo.lock
  problems/keccak256_hash/expander-keccak/Cargo.toml
  problems/keccak256_hash/expander-keccak/run.sh
  problems/keccak256_hash/expander-keccak/rust-toolchain
  problems/keccak256_hash/expander-keccak/src/lib.rs
  problems/keccak256_hash/expander-keccak/src/main.rs
  spj_output/keccak256_hash/expander-keccak.json
Due: prettier --ignore-unknown --write

Auto-update: Changes in spj_output after script execution (#78)
  spj_output/keccak256_hash/expander-keccak.json
Due: prettier --ignore-unknown --write

[script:problems/keccak256_hash/expander-keccak/run.sh]
  problems/keccak256_hash/expander-keccak/run.sh
Due: none

Auto-update: Changes in spj_output (#79)
  problems/keccak256_hash/expander-keccak/run.sh
  spj_output/keccak256_hash/expander-keccak.json
Due: prettier --ignore-unknown --write

Feat/add spj page (#81)
  apps/web/package.json
  apps/web/public/supportedProvers.json
  apps/web/src/App.tsx
  apps/web/src/global.css
  apps/web/src/layout/NavBar.tsx
  apps/web/src/layout/header.style.ts
  apps/web/src/pages/HowToContribute/index.tsx
  apps/web/src/pages/HowToInteractWithJudge/index.tsx
  apps/web/src/pages/HowToInteractWithJudge/styles.ts
  apps/web/src/pages/MachineSpec/index.tsx
  apps/web/src/pages/Problems/index.style.ts
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.tsx
  apps/web/src/pages/ProblemsDetail/components/SubmissionsTable/index.tsx
  apps/web/src/pages/SupportedProvers/index.style.ts
  apps/web/src/pages/SupportedProvers/index.tsx
  apps/web/src/utils/formatNumber.ts
  apps/web/src/utils/superScript.ts
  apps/web/src/utils/transferToNumber.ts
  docs/how_to_interact_with_SPJ.md
  pnpm-lock.yaml
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

add stwo xor [script:problems/AXorB/stwo/run.sh]
  problems/AXorB/stwo/Cargo.toml
  problems/AXorB/stwo/run.sh
  problems/AXorB/stwo/rust-toolchain.toml
  problems/AXorB/stwo/src/constraints.rs
  problems/AXorB/stwo/src/gen.rs
  problems/AXorB/stwo/src/lib.rs
  problems/AXorB/stwo/src/main.rs
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/AXorB/stwo.json
Due: prettier --ignore-unknown --write

Xor problem description fix
  problems/AXorB/problem.md
Due: prettier --ignore-unknown --write

stwo poseidon para [script:problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/Cargo.toml
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
Due: none

use real date for trace gen
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
Due: none

Path conditions:
  turbo run lint --filter: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  prettier --ignore-unknown --write: any of: *.{json,md,yaml}
