Repository PolyhedraZK/proof-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["turbo run lint --filter", "prettier --write", "eslint --fix"],
  "*.{json,md,yaml}": ["prettier --ignore-unknown --write"]
}

Auto-update: Changes in spj_output after script execution (#51)
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

Update auto_benchmark.yml [script:problems/keccak256_hash/plonky3-pcbin/run.sh]
  .github/workflows/auto_benchmark.yml
Due: none

feat: add log scale
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.style.ts
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

fix: log segmented UI
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.style.ts
  apps/web/src/pages/ProblemsDetail/components/SubmissionsChart/index.tsx
Due: turbo run lint --filter, prettier --write, eslint --fix

Auto-update: Changes in spj_output after script execution
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

Auto-update: Changes in spj_output (#55)
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

Update README.md [[script:problems/keccak256_hash/plonky3-pcbin-bs8test/run.sh]
  README.md
Due: prettier --ignore-unknown --write

Update README.md [script:problems/keccak256_hash/plonky3-pcbin/run.sh]
  README.md
Due: prettier --ignore-unknown --write

Auto-update: Changes in spj_output after script execution (#56)
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

Update run.sh [script:problems/keccak256_hash/plonky3-pcbin/run.sh]
  problems/keccak256_hash/plonky3-pcbin/run.sh
Due: none

update cargo and run.sh [script:problems/keccak256_hash/plonky3-pcbin/run.sh]
  problems/keccak256_hash/plonky3-pcbin/run.sh
Due: none

Auto-update: Changes in spj_output after script execution (#57)
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

update cargo and run.sh [script:problems/keccak256_hash/plonky3-pcbin/run.sh]
  SPJ/spj_template.go
Due: none

Auto-update: Changes in spj_output after script execution (#58)
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

fix memory monitor [script:problems/keccak256_hash/plonky3-pcbin/run.sh]
  SPJ/resource_monitor.go
Due: none

Auto-update: Changes in spj_output after script execution (#59)
  spj_output/keccak256_hash/plonky3-pcbin.json
Due: prettier --ignore-unknown --write

Update README.md
  README.md
Due: prettier --ignore-unknown --write

impl p3_poseidon [script:/problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh]
  problems/keccak256_hash/halo2/Cargo.lock
  problems/poseidon2_hash_m31/SPJ/go.mod
  problems/poseidon2_hash_m31/SPJ/main.go
  problems/poseidon2_hash_m31/plonky3/Cargo.lock
  problems/poseidon2_hash_m31/plonky3/Cargo.toml
  problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh
  problems/poseidon2_hash_m31/plonky3/src/lib.rs
  problems/poseidon2_hash_m31/plonky3/src/prover.rs
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

fix clippy[script:problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/plonky3/src/lib.rs
  problems/poseidon2_hash_m31/plonky3/src/prover.rs
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

impl p3_poseidon (#60)
  problems/keccak256_hash/halo2/Cargo.lock
  problems/poseidon2_hash_m31/SPJ/go.mod
  problems/poseidon2_hash_m31/SPJ/main.go
  problems/poseidon2_hash_m31/plonky3/Cargo.lock
  problems/poseidon2_hash_m31/plonky3/Cargo.toml
  problems/poseidon2_hash_m31/plonky3/run-plonky3-poseidon-circuit.sh
  problems/poseidon2_hash_m31/plonky3/src/lib.rs
  problems/poseidon2_hash_m31/plonky3/src/prover.rs
  problems/poseidon2_hash_m31/plonky3/src/verifier.rs
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

Auto-update: Changes in spj_output after script execution (#62)
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

Update Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
Due: prettier --ignore-unknown --write

Update main.go
  problems/poseidon2_hash_m31/SPJ/main.go
Due: none

expander-keccak (single-thread) [script:problems/keccak256_hash/expander-keccak/run.sh]
  .gitignore
  problems/keccak256_hash/expander-keccak/Cargo.toml
  problems/keccak256_hash/expander-keccak/run.sh
  problems/keccak256_hash/expander-keccak/rust-toolchain
  problems/keccak256_hash/expander-keccak/src/lib.rs
  problems/keccak256_hash/expander-keccak/src/main.rs
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/keccak256_hash/expander-keccak.json
Due: prettier --ignore-unknown --write

expander-keccak (multi-thread small workload [script:problems/keccak256_hash/expander-keccak/run.sh]
  problems/keccak256_hash/expander-keccak/run.sh
  problems/keccak256_hash/expander-keccak/src/main.rs
Due: none

stwo poseidon [script:problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh]
  problems/poseidon2_hash_m31/stwo/Cargo.lock
  problems/poseidon2_hash_m31/stwo/Cargo.toml
  problems/poseidon2_hash_m31/stwo/run-stwo-poseidon-circuit.sh
  problems/poseidon2_hash_m31/stwo/rust-toolchain
  problems/poseidon2_hash_m31/stwo/src/lib.rs
  problems/poseidon2_hash_m31/stwo/src/poseidon.rs
  problems/poseidon2_hash_m31/stwo/src/prover.rs
  problems/poseidon2_hash_m31/stwo/src/test.rs
  problems/poseidon2_hash_m31/stwo/src/verifier.rs
  spj_output/poseidon2_hash_m31/Plonky3-poseidon-m31.json
  spj_output/poseidon2_hash_m31/Stwo-poseidon-m31.json
Due: prettier --ignore-unknown --write
