Repository PolyhedraZK/proof-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["turbo run lint --filter", "prettier --write", "eslint --fix"],
  "*.{json,md,yaml}": ["prettier --ignore-unknown --write"]
}

gnark submission [script:problems/keccak256_hash/expectedProver/run.sh]
  .github/workflows/auto_benchmark.yml
Due: none

gnark submission [script:problems/keccak256_hash/expectedProver/run.sh]
  problems/keccak256_hash/expectedProver/run.sh
Due: none

spj bug fix
  SPJ/spj_template.go
Due: none

gnark submission [script:problems/keccak256_hash/expectedProver/run.sh]
  SPJ/spj_template.go
Due: none

Auto-update: Changes in spj_output after script execution
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

Auto-update: New submission results
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

Auto-update: New submission results (#37)
  spj_output/keccak256_hash/3-GNARK_KECCAK-256.json
Due: prettier --ignore-unknown --write

update SPJ
  SPJ/result_collector.go
  SPJ/spj_template.go
Due: none

feat: add transferToNumber
  apps/web/src/pages/ProblemsDetail/components/SubmissionsTable/index.tsx
  apps/web/src/utils/transferToNumber.ts
Due: turbo run lint --filter, prettier --write, eslint --fix

update SPJ
  problems/AXorB/problem.md
  problems/keccak256_hash/expectedProver/prover.go
Due: prettier --ignore-unknown --write

update SPJ
  problems/keccak256_hash/expectedProver/prover.go
Due: none

change SPJ verifier logic
  SPJ/spj_template.go
  problems/AXorB/problem.md
  problems/keccak256_hash/maliciousProver/prover.go
  problems/keccak256_hash/problem.md
  problems/poseidon2_hash_m31/problem.md
  problems/sha256_hash/problem.md
Due: prettier --ignore-unknown --write

change workflow logic
  .github/workflows/auto_benchmark.yml
Due: none

feat: delete package json orig
  package.json.orig
Due: none

feat: add table sort
  apps/web/src/pages/ProblemsDetail/components/SubmissionsTable/index.tsx
  apps/web/src/pages/ProblemsDetail/index.tsx
  apps/web/src/pages/SupportedProvers/index.tsx
  spj_output/AXorB/GNARK_A_Xor_B.json
  spj_output/keccak256_hash/GNARK KECCAK-256.json
  spj_output/keccak256_hash/GNARK_KECCAK-256.json
  spj_output/keccak256_hash/Halo2-Keccak-256.json
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

Dev (#38)
  README.md
  apps/web/src/pages/ProblemsDetail/components/SubmissionsTable/index.tsx
  apps/web/src/pages/ProblemsDetail/index.tsx
  apps/web/src/pages/SupportedProvers/index.tsx
  apps/web/src/utils/transferToNumber.ts
  package.json.orig
  problems/keccak256_hash/SPJ/SPJ
  spj_output/AXorB/GNARK_A_Xor_B.json
  spj_output/keccak256_hash/GNARK KECCAK-256.json
  spj_output/keccak256_hash/GNARK_KECCAK-256.json
  spj_output/keccak256_hash/Halo2-Keccak-256.json
Due: turbo run lint --filter, prettier --write, eslint --fix, prettier --ignore-unknown --write

integrate halo2 keccak circuit
  .gitignore
  Cargo.lock
  cargo.toml
  rust-toolchain
  rust/keccak/halo2/Cargo.toml
  rust/keccak/halo2/src/circuit.rs
  rust/keccak/halo2/src/config.rs
  rust/keccak/halo2/src/lib.rs
  rust/keccak/halo2/src/prover.rs
  rust/keccak/halo2/src/setup.rs
  rust/keccak/halo2/src/tests.rs
  rust/keccak/halo2/src/verifier.rs
  rust/scripts/run-halo2-keccak-circuit.sh
Due: none

fix script
  .gitignore
  rust/scripts/run-halo2-keccak-circuit.sh
Due: none

add docs; clean up
  Cargo.lock
  cargo.toml
  rust/keccak/halo2/README.md
  rust/keccak/halo2/src/circuit.rs
  rust/keccak/halo2/src/config.rs
  rust/keccak/halo2/src/lib.rs
  rust/keccak/halo2/src/prover.rs
  rust/keccak/halo2/src/setup.rs
  rust/keccak/halo2/src/tests.rs
  rust/keccak/halo2/src/verifier.rs
Due: prettier --ignore-unknown --write

add ack
  rust/keccak/halo2/README.md
Due: prettier --ignore-unknown --write

halo2 keccak submission [script:rust/scripts/run-halo2-keccak-circuit.sh]
  Cargo.toml
Due: none

Update auto_benchmark.yml
  .github/workflows/auto_benchmark.yml
Due: none

moving halo2-keccak under keccak256_hash [script:problems/keccak256_hash/halo2/run-halo2-keccak-circuit.sh]
  Cargo.toml
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/halo2/Cargo.toml
  problems/keccak256_hash/halo2/README.md
  problems/keccak256_hash/halo2/run-halo2-keccak-circuit.sh
  problems/keccak256_hash/halo2/src/circuit.rs
  problems/keccak256_hash/halo2/src/config.rs
  problems/keccak256_hash/halo2/src/lib.rs
  problems/keccak256_hash/halo2/src/prover.rs
  problems/keccak256_hash/halo2/src/tests.rs
  problems/keccak256_hash/halo2/src/verifier.rs
  spj_output/keccak256_hash/Halo2-Keccak-256.json
Due: prettier --ignore-unknown --write

change SPJ logic
  SPJ/pipe_manager.go
  SPJ/spj_template.go
  problems/AXorB/expectedProver/prover.go
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/expectedProver/prover.go
  problems/keccak256_hash/maliciousProver/prover.go
Due: none

change problem statement
  problems/AXorB/problem.md
  problems/keccak256_hash/problem.md
  problems/poseidon2_hash_m31/problem.md
  problems/sha256_hash/problem.md
Due: prettier --ignore-unknown --write

change problem statement
  problems/AXorB/expectedProver/prover.go
  problems/AXorB/problem.md
  problems/keccak256_hash/expectedProver/prover.go
  problems/keccak256_hash/maliciousProver/prover.go
  problems/keccak256_hash/problem.md
  problems/poseidon2_hash_m31/problem.md
  problems/sha256_hash/problem.md
Due: prettier --ignore-unknown --write

change SPJ
  SPJ/spj_template.go
Due: none

update halo2-keccak script [script:problems/keccak256_hash/halo2/run-halo2-keccak-circuit.sh]
  problems/keccak256_hash/SPJ/SPJ
  problems/keccak256_hash/halo2/run-halo2-keccak-circuit.sh
  problems/keccak256_hash/halo2/src/prover.rs
  problems/keccak256_hash/halo2/src/verifier.rs
  spj_output/keccak256_hash/Halo2-Keccak-256.json
Due: prettier --ignore-unknown --write
